<div class="card">
    <div class="card-header">
  
    
  
  <div>    

    <h2>Company name? </h2> <input type="text" style="font-size: large;" size="50px"> this should be a scroll wheel
    <h2>Share price </h2> <input type="text"  style="font-size: large;" [(ngModel)]='sharePrice' >
    <h2>Dividend price per share</h2>  <input style="font-size: large;" type="text" [(ngModel)]='dividendPrice'>
    <h2>Why is the share price likely to increase?</h2> <input type="text" size=100px  style="height:50px;font-size: large;"  height=500px >
    <h2>What is your plan incase the share price dips?</h2> <input style="font-size: large;" type="text" size=100px  style="height:75px">
<button type="button" (click)="btnRegisterShare()">Register company</button>
</div>

</div>
</div>