

<div class="card">
  <div class="card-header">

  

<div>           
<h2>Company name? </h2> <input type="text" (change)="onChangeString()"   [(ngModel)]='companyName'  > 
 <h2>P/E?  </h2> <input type="text" (change)="onChangeFloat()"  [(ngModel)]='priceEarningsRatio' >
 <h2>Turnover</h2> This year <input type="text" (change)="onChangeFloat()"  [(ngModel)]='turnoverThisYear'>
 Last year <input type="text" (change)="onChangeFloat()" [(ngModel)]='turnoverLastYear'>
 <h2>Net debt</h2> <input type="text" (change)="onChangeFloat()" [(ngModel)]='netDebt'>
 <h2>Market cap</h2> <input type="text" (change)="onChangeFloat()" [(ngModel)]='marketCap'>
<BR>
  <button type="button" [hidden]="basicInfoCalculated"  (click)="btnAddShare()" >Add share</button>

  <h2 [hidden]="!basicInfoCalculated">Anything special about this company</h2> <input type="text"  (change)="onChangeString()" [(ngModel)]='marketCap' [hidden]="!basicInfoCalculated">
  

<table mat-table>
 <tr>
<th >Col 1</th>
<th>Col 2</th>
<th>Col 3</th>
 </tr>
<tr>
<td> Row 1 </td>
<td> Row 2 </td>
<td> Row 3  </td>
</tr>

</table>

  </div>

  </div>
  </div>